= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-md-1
    .col-md-10
      .panel.panel-info
        .panel-heading
          .panel-title
            Sign in
        .panel-body
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true
          - if devise_mapping.rememberable?
            Remember me
            = f.check_box :remember_me
          .form-actions.row
            .col-md-8
            .col-md-4
              = f.button :submit, "Sign in", class: 'btn btn-primary to-right wide-button'
          = render "devise/shared/links"
    .col-md-1
