%p
  = link_to "<< Back to category", category_path(category), class: 'btn btn-success'


%h4 Product info:
%table.table-striped.products-table
%p
  Category
  %b= product.category.name

%p
  Title:
  %b= product.title
%p
  Description:
  %b= product.description
%p
  Price:
  %b= product.price


%h3 Reviews
= render 'reviews/form'

= render reviews

= link_to 'Edit', edit_category_product_path(category.id, product.id)
\|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
